html {
  font-family: "Helvetica Neue", Helvetica, serif;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 2.75rem;
}

h4 {
  font-size: 2.25rem;
}

p {
  font-size: 1.75rem;
  font-color: $grey-color-light;
}
